version: '3.8'

services:
  bot:
    build: .
    restart: always
    volumes:
      - ./data:/app/data
    environment:
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
    # For future: Add database service here if migrating to Postgres
